.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  
  &__table {
    
  }
  
  &__btn {
    margin-bottom: 10px;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
  }

  &__input {
    width: 200px;
    margin-bottom: 20px;
  }
}
