.settings {
  width: 400px;
  
  &__title {
    margin-bottom: 30px;
  }
  
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__label {
    padding-bottom: 10px;
  }

  &__field {
    width: 50px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    
    font-size: inherit;
  }

  &__btn {
    width: 100px;
    height:100px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;

    &:hover {
      border: 1px solid gray;
    }
  }
}
