////////// - Colors - //////////

$primary: #ffffff;
$main-bg: #f1f1f1;
$button-bg: #ebebeb;
$number-bg: #c5c5c5;
$shadow: #919193;
$logo-color: #616161;
$main-text: #343434;

////////// - Fonts - //////////

$low-size: 11px;
$low-weight: 300;

$normal-size: 13px;
$normal-height: 18px;
$normal-weight: 400;

$big-size: 18px;
$big-weight: 700;

$bigger-size: 30px;

////////// - Screen - //////////

$mobile: rem(320);
$tablet: rem(640);
$desktop: rem(1080);
$notebook: rem(1600);
$tv: rem(1920);

////////// - Resolution - //////////

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
